name: Integration Tests Tenstorrent

on:
  workflow_call:
    inputs:
      matrix:
        required: true
        type: string

jobs:
  integration-tests-tenstorrent:
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 60
    strategy:
      matrix:
        runner: ${{ fromJson(inputs.matrix) }}
    env:
      RUNNER_TYPE: ${{ matrix.runner[0] }}
      TRITON_BUILD_WITH_CCACHE: "true"
      TRITON_BUILD_WITH_CLANG_LLD: "TRUE"
      TRITON_USE_ASSERT_ENABLED_LLVM: "TRUE"
      TRITON_DISABLE_LINE_INFO: 1
      PROTON_SKIP_PC_SAMPLING_TEST: 1
      PYTHON: "python3"
      CCACHE_COMPRESS: "true"
    steps:
      - name: Install ccache
        run: sudo apt-get update && sudo apt-get install -y ccache
      - name: Install boost
        run: sudo apt-get update && sudo apt-get install -y libboost-fiber-dev
      - name: Install tt-mlir system deps
        run: |
          sudo apt install -y build-essential git vim python3 python3-venv python3-dev clang-19 libclang-cpp17-dev libgtest-dev python3-sphinx libnuma-dev numactl libhwloc-dev pkg-config doxygen
      - name: Checkout NPU Plugin
        uses: actions/checkout@v5
        with:
          submodules: false
      - name: Fetch tt-mlir submodule
        run: git submodule update --init --recursive --depth 0
      - name: Fetch Triton upstream Commit Hash
        shell: bash
        run: |
          TRITON_COMMIT_HASH="$(cat triton.txt)"
          echo "Found Triton commit hash: ${TRITON_COMMIT_HASH}"
          echo "triton_commit_hash=${TRITON_COMMIT_HASH}" >> ${GITHUB_ENV}
      - name: Checkout Triton upstream repo
        uses: actions/checkout@v5
        with:
          repository: triton-lang/triton
          path: triton
          submodules: true
          ref: ${{ env.triton_commit_hash }}
      - name: Apply Triton patches
        working-directory: ./triton
        run: |
          git apply -v ${GITHUB_WORKSPACE}/.github/patches/*.patch
      - name: Compute cache keys
        id: cache-key
        run: |
          triton_file="${GITHUB_WORKSPACE}/triton.txt"

          # Check if files exist before proceeding
          if [[ ! -f "$triton_file" ]]; then
            echo "Error: Required dependency files are missing."
            exit 1
          fi

          # get the tt-mlir submodule hash
          echo "ttmlir=$(git -C third_party/tt-mlir rev-parse HEAD | cut -c 1-8)" >> $GITHUB_OUTPUT

          # Process the files if they exist
          echo "triton=$(cat $triton_file | cut -c 1-8)" >> $GITHUB_OUTPUT
        shell: bash
      - name: Create venv
        run: |
          python3 -m venv ~/.venv
          source ~/.venv/bin/activate
          python3 -m pip install --upgrade pip
      - name: Cache build dependencies
        uses: actions/cache@v4
        with:
          # Note that we cannot use environment variables here given there is
          # no shell to interpret them in the paths.
          path: |
            ~/.triton/llvm
            ~/.triton/nvidia
            ~/.triton/json
          key: ${{ runner.os }}-${{ runner.arch }}-triton-${{ steps.cache-key.outputs.triton }}
      - name: Cache tt-mlir
        uses: actions/cache@v4
        with:
          # Note that changes to the tt-mlir build script may require invalidating this cache
          path: |
            ${{ github.workspace }}/third_party/tt-mlir/build
            ${{ github.workspace }}/third_party/tt-mlir/env/build/
            /opt/ttmlir-toolchain
          key: ${{ runner.os }}-${{ runner.arch }}-tt-mlir-${{ steps.cache-key.outputs.ttmlir }}
      - name: Inspect cache directories
        run: |
          mkdir -p ~/.triton
          du -h -d 1 ~/.triton

          mkdir -p ~/.ccache
          du -h -d 1 ~/.ccache

          mkdir -p ${GITHUB_WORKSPACE}/third_party/tt-mlir
          du -h -d 1 ${GITHUB_WORKSPACE}/third_party/tt-mlir

          mkdir -p /opt/ttmlir-toolchain
          du -h -d 1 /opt/ttmlir-toolchain
      - name: Update PATH
        run: |
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Install torch
        run: |
          source ~/.venv/bin/activate

          python -m pip install --upgrade pip
          python -m pip install torch==2.8.0 --index-url https://download.pytorch.org/whl/test/cpu
          pip freeze
      - name: Install Triton
        working-directory: ./triton
        run: |
          nproc
          echo "PATH is '$PATH'"
          ccache --zero-stats
          source ~/.venv/bin/activate

          TRITON_PLUGIN_DIRS=${GITHUB_WORKSPACE} TENSTORRENT_MLIR=${GITHUB_WORKSPACE}/third_party/tt-mlir make dev-install
      - name: CCache Stats
        run: ccache --print-stats
      - name: Run lit tests
        working-directory: ./triton
        run: |
          make test-lit
          export BUILD_DIR="$(cd python; python -c 'from build_helpers import get_cmake_dir; print(get_cmake_dir())')"
          ninja -C ${BUILD_DIR} check-triton-cpu-lit-tests
      - name: Run python tests on CPU
        if: false
        working-directory: ./triton
        run: |
          python -m pytest --device "cpu" python/test/unit/language/test_core.py -k "test_reduce1d or test_load_store_same_ptr"
          python -m pytest --device "cpu" python/test/unit/runtime/test_launch.py -k "not test_launch_with_options"
      - name: Run the triton offline compiler on tutorial 01
        working-directory: ./triton
        run: |
          source ~/.venv/bin/activate
          python python/triton/tools/compile.py --target tenstorrent:0:1 --signature "*fp16,*fp16,*fp16,i32,1024" --grid 1,1,1 -n add_kernel ../python/tutorials/01-vector-add.py
      - name: Run interpreter tests
        working-directory: ./triton
        if: false
        run: make test-interpret
      - name: Run regression tests
        working-directory: ./triton
        if: false
        run: |
          make test-regression
      - name: Run C++ unittests
        working-directory: ./triton
        run: make test-cpp
      - name: Inspect cache directories
        run: |
          mkdir -p ~/.triton
          du -h -d 1 ~/.triton

          mkdir -p ~/.ccache
          du -h -d 1 ~/.ccache

          mkdir -p ${GITHUB_WORKSPACE}/third_party/tt-mlir
          du -h -d 1 ${GITHUB_WORKSPACE}/third_party/tt-mlir

          mkdir -p /opt/ttmlir-toolchain
          du -h -d 1 /opt/ttmlir-toolchain
